* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  margin-left: auto;
  margin-right: auto;
  width: 62.5%;
}
@font-face {
  font-family: "BBC Reith Sans";
  src: url("https://db.onlinewebfonts.com/t/a1d0120b37754be8e80e39ab6ab95130.eot");
  src: url("https://db.onlinewebfonts.com/t/a1d0120b37754be8e80e39ab6ab95130.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/a1d0120b37754be8e80e39ab6ab95130.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/a1d0120b37754be8e80e39ab6ab95130.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/a1d0120b37754be8e80e39ab6ab95130.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/a1d0120b37754be8e80e39ab6ab95130.svg#BBC Reith Sans")
      format("svg");
}

@font-face {
  font-family: "BBC Reith Serif";
  src: url("https://db.onlinewebfonts.com/t/92d9892fa0ef64406bf151c8f730eff2.eot");
  src: url("https://db.onlinewebfonts.com/t/92d9892fa0ef64406bf151c8f730eff2.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/92d9892fa0ef64406bf151c8f730eff2.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/92d9892fa0ef64406bf151c8f730eff2.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/92d9892fa0ef64406bf151c8f730eff2.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/92d9892fa0ef64406bf151c8f730eff2.svg#BBC Reith Serif")
      format("svg");
}

header {
  font-family: "BBC Reith Sans";
  position: relative;
  height: calc(64px + 56px + 36px);
}

.header-top-main-container {
  height: 64px;
}

.header-middle-main-container {
  height: 56px;
  background-color: aqua;
}

.header-bottom-main-container {
  height: 36px;

  margin: 0;
  padding: 0;
}

.header-top-content-container {
  width: 62%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 100%;
  align-items: center;
}
.header-main-red-container {
  background-color: #b80000;
}
.header-bottom-main-container {
  width: 62%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-item {
  color: #fff;
  width: fit-content;
  height: fit-content;
  vertical-align: middle;
  margin: 0;
  padding: 0 12px;
  position: relative;
  border-right: 1px solid #bb454f;
}

.nav-item:hover::after {
  position: absolute;
  bottom: -7px;
  right: 0;
  transform: translate(0%, -50%);
  content: "";
  width: 100%;
  height: 4px;
  background-color: #fff;
}
.nav-item-first {
  padding-left: 5px;
  padding-right: 12px;
}
.nav-item-end {
  border-right: 0px solid rgba(0, 0, 0, 0.15);
}

.logo {
  height: 32px;
  margin-right: 20px;
}

.sign-in-container {
  position: relative;
  width: 176px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sign-in-container::after {
  position: absolute;
  content: "";
  width: 176px;
  height: 24px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.signInLogo {
  height: 28px;
}

.signInText {
  margin-left: 6px;
}

.nav-main-container {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 638px;
  font-weight: 700;
}

.points {
  margin-left: 10px;
  margin-right: 10px;
}

.input-container {
  width: 200px;
  height: 40px;
  background-color: #f6f6f6;
  border: none;
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
}

.search-icon {
  margin-right: 8px;
}

.header-middle-main-container {
  width: 62%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #b80000;
}
/* pour afficher le menu avec les marges sur un grand écran */
@media screen and (min-width: 1280px) {
  header nav {
    padding: 5px 16%;
  }
}
/* Menu de navigation */
header ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
  position: absolute;
}
header li {
  float: left;
  margin: auto;
  padding: 0;
}

.main-container {
  padding: 1rem;
  /* background-color: cadetblue; */
}

.main-part {
  display: grid;
  width: 100%;
  height: 325px;
  grid-template-columns: 1fr 2fr 1fr;
}

.second-part {
  margin-top: 15px;
  /* background-color: pink; */
  height: 295px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* gap: 15px; */
}
.third-part {
  margin-top: 15px;
  height: fit-content;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 15px;

  /* gap: 15px; */
}
.grid-ad {
  width: 100%;
}

.features-container {
  margin-top: 75px;
  display: flex;
  padding: 32px 0 16px 16px;
}

.features-text {
  font-family: "BBC Reith Sans";
  color: #222222;
  font-size: 24px;
  min-width: fit-content;
  margin-right: 10px;
  font-weight: bold;
}

.features-line {
  position: relative;
  bottom: 15px;
  width: 100%;
  border-bottom: 1px solid #7b756f;
}

.test-grid {
  width: 100%;
  height: 350px;
  background-color: yellow;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 35px;
}
.square {
  width: 50px;
  height: 50px;
  background-color: pink;
}

.square2 {
  width: 100%;
  height: 50px;
  background-color: pink;
}

.card {
  padding-left: 16px;
  width: 245px;
  height: fit-content;
  /* border: 1px solid black; */
}

.image-container {
  height: fit-content;
}
.card-image {
  height: 128px;
}

.card-title-big {
  font-family: "BBC Reith Serif";
  color: #716c65;
  line-height: 2.2rem;
  font-size: 1.75rem;
  margin-top: 8px;
  font-weight: 600;
  vertical-align: middle;
}

.card-title {
  font-family: "BBC Reith Serif";
  color: #000000;
  line-height: 1.25rem;
  font-size: 1rem;
  margin-top: 8px;
  font-weight: 600;
  vertical-align: middle;
}

.card-text {
  font-family: "BBC Reith Sans";
  margin-top: 8px;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #5a5a5a;
  font-weight: 500;
}

.card-footer {
  margin-top: 8px;
  line-height: 0.7rem;
  /* display: block; */
  margin-block-start: 1em;
  vertical-align: middle;
}

.card-footer li {
  font-family: "BBC Reith Sans";
  list-style: none;
  display: inline;
  vertical-align: middle;
}

.card-footer li:first-of-type {
  color: #5a5a5a;
  font-size: 0.875rem;
  font-weight: 500;
  padding-right: 6px;
  margin-right: 6px;
  margin-top: 4px;
}

.card-footer-item {
  color: #222;
  font-size: 0.875rem;
  font-weight: 500;
  padding-right: 6px;
  margin-right: 6px;
  margin-top: 4px;
  vertical-align: middle;
  display: flex;
}

.card-footer svg {
  fill: #5a5a5a;
  font-size: 0.875rem;
  font-weight: 700;
  width: 13px;
  height: 13px;
}

.pipe {
  border-right: 1px solid #dbdbdb;
}

.dialogue-icon {
  width: 13px;
  height: 13px;
}

.circle {
  height: 30px;
  aspect-ratio: 1;
  position: relative;
  border-radius: 50%;
  border: 4px solid #ba1818;
}

.circle::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  aspect-ratio: 1;
  height: 15px;
  background-color: #ba1818;
  z-index: 10000;
  border-radius: 50%;
  animation: blinking 2s infinite ease-in-out;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  /* border: 1px solid #9e9a9a;
  padding: 20px; */
}

.flex-container2 {
  display: flex;
  flex-direction: row;
  /* border: 1px solid #9e9a9a;
  padding: 20px; */
}

footer {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(57, 56, 56);
  color: aliceblue;
  font-family: "BBC Reith Sans";
}

.siteMap {
  margin-left: auto;
  margin-right: auto;
  width: 62%;
}
.navigation {
  font-family: "BBC Reith Sans";
  float: left;
  width: 100%;
  padding: 0 16px 0 16px;
}

.commercial-legacy {
  border-bottom: 1px solid #949494;
  width: 100%;
  font-size: 0.8rem;
}

.commercial-legacy ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
  padding-left: 0;
  margin-left: -19px;
}

.commercial-legacy ul li {
  line-height: 1.2rem;
  border-right: 1px solid #949494;
}

.commercial-legacy ul li a {
  display: block;
  padding-top: 1em;
  padding-right: 19px;
  margin-left: 19px;
  color: aliceblue;
  text-decoration: none;
  width: 100%;
}

.commercial-legacy ul li a span {
  font-weight: bold;
}

.commercial-legacy ul li a:hover {
  text-decoration: underline;
}

.content-info {
  width: 100%;
  font-size: 0.7rem;
}

.policies ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  float: left;
  padding-left: 0;
}

.policies ul li {
  margin-bottom: 1.23em;
  margin-left: 19px;
}

.policies ul li a {
  color: aliceblue;
  text-decoration: none;
}

.policies ul li a:hover {
  text-decoration: underline;
}

.copyright {
  display: flex;
  flex-direction: row;
  float: left;
  margin-left: 19px;
}
.copyright label {
  margin-right: 5px;
}

.copyright span a {
  color: aliceblue;
  font-weight: 700;
  text-decoration: none;
}

.copyright span a:hover {
  text-decoration: underline;
}

.copyright em {
  font-weight: 700;
}
